// CONTACT
.contact {
    border-right: 2px solid;
    padding: 0 45px;
    min-width: 346px;
    background: $left-block;
    color: $white;

    &__photo {
        padding: 20px 0;
        text-align: center;

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    }

    &__nav {
        color: $right-block;

        h2 {
            text-transform: uppercase;
            text-align: center;
            font-size: 30px;
        }

        ul {
            font-size: 19px;
            padding-left: 0;
            margin-bottom: 0;

            li {
                margin-bottom: 10px;
            }

            li :last-child {
                margin-bottom: 30px;
            }

            li i {
                padding-right: 10px;
            }

            li a {
                color: $right-block;
            }
        }

    }
}

// SKILLS
.skills {
    p {
        margin: 0 0 10px 0;
    }
}